body {
    background-color: #0d1117; 
    color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: bolder;

    margin: 10px
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #363636;
    border-radius: 10px;
    border-color: #fafafa;

    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    color: #fafafa;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

    margin: 10px;
}

hr {
  border: none;
  height: 2px;
  background-color: #fafafa40;
  width: 85%; /* needed bc the div has centered container uses flex-direction: column and align-items: center*/
  margin: 20px 0; /* optional spacing */
}
